# Excluir descargas locales
downloads/
temp/
*.part

# Entornos virtuales y dependencias
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# IDEs y otros
.vscode/
.idea/
.git/
.gitignore
.gemini/

# Otros
Dockerfile
implementation_plan.md
task.md
walkthrough.md
