.gcloudignore
.git
.gitignore
.dockerignore
node_modules
bin/
build/
dist/
downloads/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv
.env
.tox
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.secrets
.gemini/
.idea/
.vscode/
