# Motor de Descarga Core
yt-dlp>=2024.03.10
requests>=2.31.0
Pillow>=10.2.0

# Interfaz de Escritorio (Native GUI)
customtkinter>=5.2.2

# Interfaz Web (Flask Server)
Flask>=3.0.0
Flask-Cors>=4.0.0

# Despliegue en Nube
gunicorn>=21.2.0
